@font-face {
    font-family: cuteBirdFont;
    src:url("CuteFont-Regular.ttf");
}

body{
    margin: 0px;
    display: flex;
}

.splash{
    max-width: 600px;
    display: inline;
}


.splash-section {
    position: relative;
    width: 600px;
}

#logo{
    height: 100px;
    width: auto;
}

.splash-logo{
    position: absolute;
    margin-top: -800px;
    height: 100px;
    color: white;
    background-color: rgba(70, 70, 70, 0.6);
    width: 600px;
    font-family: cuteBirdFont;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(241, 241, 241);
}


.visual-white-section{
    padding-left: 5vw;
    padding-right: 10vw;
    padding-top: 1vh;
    background-color: white;
    box-shadow: 0px 5px 10px rgb(110, 110, 110);
}



.splash-caption{
    position: absolute;
    margin-top: -100px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: rgba(70, 70, 70, 0.6);
}

.splash-caption>a{
    color: white;
}

.middle-section {
    display: flex;

}

.form-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-item{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}



.form-section>p{
    font-size: 32px;
    padding-left: 5vw;
    padding-right: 10vw;
}

.form-item>button{
    background-color: #1b57ff;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    width: 250px;
    height: 75px;
    font-size: 24px;
}

#sign-up-button{
    margin-left: 5vw;
    margin-top: 30px;
}

.form-item>input{
    border-color: #E5E7EB;
    
}

.form-item>input:focus, .form-item>input:focus-visible {
    outline-color: #35a4ff;
    box-shadow: 3px 3px 10px rgb(184, 184, 184);
}

